*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    line-height: 0.1;
    background-color: pink;
    border-bottom: 1px solid;
}

ul{
    display: flex;
    gap: 1em;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}